/* SITE-WIDE STYLES */

html, body {
  background: #fff;
}

#navigation {
  background: #d92644;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
  width: 100%;
}

#navigation .navbar {
  border: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px !important;
  width: 1170px;
}

.navbar-header a,
.navbar-right a
{
  color: #364753;
}

#navigation .btn-primary.active {
  background-color: #ad1f36;
}

#navigation .btn-group a.btn {
  color: #fff;
  border-radius: 0;
  border-right: solid 1px #FCF0F0 !important;
}

#navigation .btn-group a.btn:first-of-type {
  border-left: solid 1px #FCF0F0 !important;
}

#navigation .btn-group a.btn:active {
  border-width: 0 !important;
}

#navigation .btn-group .btn + .btn {
  margin-left: initial;
}

.navbar .container {
  padding-left: 30px;
  padding-right: 30px;
}

a.btn,
a.btn.btn-default,
a.btn:hover,
a.btn:active,
a.btn:link,
button.btn:hover,
button.btn:active
{
  color: #fff;
}

a.btn-primary {
  background: #d92644;
  border: solid 1px #d92644;
}

a.btn-primary:active,
a.btn-primary:hover
{
  background: #ad1f36;
  border: solid 1px #ad1f36;
  color: #fff;
}

a,
.nav__site-footer a,
a span.form-link-color
{
  color: #327ABD;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

.lbhf-page-header {
  border-bottom: solid 1px #d92644;
  padding: 1em;
}

.lbhf-page-header img,
.lbhf-page-footer img
{
  height: 3.5em;
}

.lbhf-highlight {
  background: #FCF0F0;
  margin-bottom: 1em;
  padding: 1em;
}

.lbhf-highlight p:last-child {
  margin-bottom: 0.5em;
}

.lbhf-page-footer {
  border-top: solid 1px #d92644;
  margin-top: 3em;
  padding: 1em;
}

#app-content {
  background: #fff;
}

.alert a {
  display: inline;
}

.alert {
  margin: 1.5em 0 3em 0;
}

/* ANONYMOUS USER STYLES */
#toolbar #session-badge .login-link {
  background: #fff;
  color: #327ABD;
}

#toolbar #session-badge .login-link:hover {
  background: #fff;
  color: #327ABD;
  text-decoration: underline;
}

/* GENERIC TABLE STYLES */
.table_controls {
  background: #ebebeb;
  border: solid 1px #ddd;
  padding: 1em;
}

.table_controls .form-control {
  margin: 0 0.5em;
}

.table_buttons button.btn
{
  height: 2.3em;
  line-height: initial;
  margin: 0 0.5em;
}

.table > tbody > tr > td {
  line-height: initial;
  padding: 1em;
  vertical-align: middle;
}
.table > thead > tr > th,
th, td
{
  border-width: 1px;
}


/* LOGIN FORM/PAGE */

a#intauth img {
  display: none;
}

a#intauth.btn br {
  display: none;

}

/* GENERIC FORM STYLES */
input, textarea, select {
  min-width: initial;
}

button#search-submit.btn {
  line-height: initial;
  height: 2.3em;
}

.radio-wrapper label.radio-label.btn.disabled {
  background-color: #ddd;
}

.fillinButtons button.btn {
  background-color: #d92644 !important;
  color: #fff !important;
}

.fillinButtons button.btn:active,
.fillinButtons button.btn:hover
{
  background-color: #ad1f36 !important;
}

.achieveforms-container .all-sections .field .fieldContent .fieldName {
  font-weight: 600;
}

.achieveforms-container input[readonly]:not(.iemobile-pseudo-readonly),
.fieldInput.view-data,
.achieveforms-container textarea[disabled]
{
  background-color: #eee !important;
  border: solid 1px #ccc !important;
  padding-left: 1em !important;
  border-radius: 4px;
}

.achieveforms-container .sectionsHead {
  background: #FCF0F0;
}

.achieveforms-container .sectionsHead .sectionsHeadInner .sectionNameWrapper.active {
  color: #ad1f36;
  font-weight: bold;
}

.achieveforms-container .sectionsHead .sectionsHeadInner .sectionNameWrapper.active .sectionNameTab {
  border: solid #d92644 1px;
  border-bottom-color: #fff
}

.achieveforms-container .sectionsHead .sectionsHeadInner .sectionNameWrapper .sectionNameTab {
  font-size: 0.9em;
}

.achieveforms-container .sectionsHead .sectionsHeadInner {
  border-bottom: solid #d92644 1px;
}

.achieveforms-container ul.sectionsHeadInner {
  margin-left: 0;
  margin-right: 0;
}

.achieveforms-container .nav-tabs > li > a:hover {
  border-bottom: transparent;
}

.achieveforms-container .nav > li > a:hover {
  background: #FCF0F0;
  color: #ad1f36 !important;
}

.achieveforms-container .nav > li.active > a:hover {
  background: #fff;
  color: #ad1f36 !important;
}

/* REGISTRATION FORM/PAGE */
form[data-name="Registration"] {
  width: 50%;
}

/* SERVICES */

.fsservice-pretty-link h2 {
  font-size: 1.4em;
}


.service-groups a.fsservice-pretty-link,
.service-groups a.fsservice-pretty-link:link,
.service-groups a.fsservice-pretty-link:visited
{
  background-color: #327ABD !important;
  background-origin: content-box;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 3em;
  border-color: #327ABD !important;
  color: #fff;
}

.service-groups a.fsservice-pretty-link:hover {
  background-color: #428bca !important;
}

.service-groups a.fsservice-pretty-link.active {
  background-color: #d92644 !important;
  border-color: #d92644 !important;
  color: #fff !important;
}

a.fsservice-pretty-link[title="Housing"] {
  background-image: url(https://lbhf.gitlab.io/firmstep/images/icons/house.svg);
}

a.fsservice-pretty-link[title="Licensing"] {
  background-image: url(https://lbhf.gitlab.io/firmstep/images/icons/apply.svg);
}

a.fsservice-pretty-link[title="Council tax"] {
  background-image: url(https://lbhf.gitlab.io/firmstep/images/icons/tax.svg);
}

a.fsservice-pretty-link[title="Report it"] {
  background-image: url(https://lbhf.gitlab.io/firmstep/images/icons/alert.svg);
}


.service-groups ul {
  margin-left: 0;
}

.grouped-services .col-md-1 {
  width: 4em;
}

h3.serviceColumnLetter {
  background: #327ABD;
  border-radius: 4px;
  color: #fff;
  font-size: 1.1em;
  padding: 0.2em;
  width: auto;
  text-align: center;
}


/* MY ACCOUNTS PAGE */

#myaccounts #app-content .container {
  width: 1150px
}

.panel-info,
.panel-primary
{
  border-color: #327ABD;
}

.panel-info > .panel-heading,
.panel-primary > .panel-heading
{
  background-color: #327ABD;
  border-bottom-color: #327ABD;
}

.panel-primary > .panel-heading {
  background-image: url(https://lbhf.gitlab.io/firmstep/images/icons/arrow-down.svg);
  background-origin: content-box;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 1em;
}

/* MY REQUESTS */
#app-content #hello-title {
  border: none;
  color: #364753;
}

.actions a.btn {
  height: initial;
  line-height: 2.3em;
}